.header{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    border-radius: 100px;
}

body{
    background-color: rgb(0, 0, 0);
    font-family: "Special Gothic Expanded One"
}

.header{
    background-color: #0f0f0f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo-nomina{
    cursor: pointer;
}
.header .logo-nomina img{
    height: 70px;
    width: auto;
    transition: all;
}

.header .logo-nomina img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.2);
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;
}
.header .nav-links li a:hover{
    color: aqua;
}

.contenedor-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    color: white;
}

.carga-de-archivos{
    margin: 10px;
    padding: 20px;
    border-radius: 100px;
    font-size: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-envio{
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-envio{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 10px;
    padding: 20px;
    color: black;
}
.contenedor-tabla{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #1a1a1a;
    color: white;
    margin: 30px;
    padding: 15px;
    height: 1000px;
    border-radius: 50px;
}
.contenedor-de-tabla{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #0f0f0f;
    margin: 10px;

}