
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Comic Neue',cursive;
    overflow-x:hidden;
    
}

#mainFilter{
   
    
    display: inline-block;
    background: rgba(17, 16, 16, 0.5);
    
}



#mainImage{
    
    width: 2000px;
    height: 1500px;
    mix-blend-mode: darken;
}

#mainTitle{
    
    color: white;
    font-size: 100px;
}

#TitleContainer{
    transform: translate(100px,-500px);
}

#presentationTitle{
    transform: translate(600px,-300px);
    font-size: 30px;
}

#contentPresentation img{
    
}