body {
  background-color: #08021d;
  font-family: "Poppins", sans-serif;
}

.box {
  width: 730px;
  height: 1520px;
  margin: auto;
  background-color: rgb(24, 24, 24);
  box-shadow: 12px 12px 2px 1px rgba(4, 4, 161, 0.2);
  border-radius: 20px;
}
select {
  width: 100px;
  height: 30px;
}
h1 {
  text-align: center;
  padding-top: 15px;
  color: rgba(233, 233, 233, 0.616);
}

form {
  width: 560px;
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18;
}

form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid rgba(128, 128, 128, 0.034);
  border-radius: 6px;
  outline: none;
}

label {
  color: rgba(233, 233, 233, 0.616);
}

iframe {
  filter: invert(100%);
}

textarea {
  border-radius: 10px;
}
.miNav {
  background-color: rgb(10, 10, 46);
}

.dropdown-menu {
  background-color: rgb(7, 7, 15);
}

.dropdown-item {
  color: rgba(233, 233, 233, 0.616);
}

.dropdown-item:hover {
  background-color: #c900ff;
}

.boton {
  width: 620px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: white;
  color: black;
  transition-duration: 0.4s;
  font-size: 20px;
  font-weight: bold;
}

.boton:hover {
  background-color: #110eec; /* Green */
  color: white;
}
