body {
  text-align: center;
  background-color: rgb(7, 7, 15);
  color: rgba(233, 233, 233, 0.616);
  font-family: "Poppins", sans-serif;
}

.titulo {
  font-size: 80px;
  line-height: 1.5;
  color: white;
}

.parrafo {
  font-size: 30px;
}

.boton {
  color: white;
  font-weight: bold;
  font-size: 30px;
  background: linear-gradient(90deg, #6a00f4, #c900ff);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 800px;
  height: 80px;
}

.boton:hoover {
  background: linear-gradient(90deg, #c900ff, #6a00f4);
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(255, 0, 255, 0.6);
}
.evidencias {
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(to right, blue, purple, pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#carusel1 {
  max-width: 2000px;
  max-height: 800px;
  margin: auto;
  overflow: hidden;
}
#carusel2 {
  max-width: 1500px;
  max-height: 900px;
  margin: auto;
  overflow: hidden;
}

.cualidades {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgb(20, 20, 49);
}
